<html>
    {% load static %}
<head>
    <title>Ajout d'un type</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    {% include "navbar.html" %}
    <h1>
        <center>Ajouter un type</center>
    </h1>
    <form action="add_type_action/" method="post">
        {% csrf_token %}
        <div class="col-sm-4 col-md-6 col-lg-4">
            <label>nomType</label>
            <input name="nomType" class="form-control"></td>
        </div>
        <div class="col-sm-4 col-md-6 col-lg-4">
            <label>Description </label>
            <input name="description" class="form-control">
        </div>
    
       
      
        <div class="col-sm-4 col-md-6 col-lg-4">
            <br><input type="submit" value="Ajouter" class="btn btn-success">
        </div>
    </form>
</body>

</html>